/* Start: navbar */
	.thumbnail {
		height: 50px;
		width: 50px;
	}

	#nav-home{
		font-size: 25px;
	}
	
	.navbar {
		width: 100%;
		background-color: #004d4d;
		padding: 0;
		position: fixed; /* fix the navbar position */
		top: 0; /* Position the navbar at the top of the page */
	}

	.navbar a {
		float: left;
		padding: 7px;
		color: white;
		text-decoration: none;
		font-size: 17px;
	}
	
	/* decrese padding to fullfill background color when hovering*/
	.nav-item{
		padding:0.5rem 0.5rem;
	}
	
	/* make body content go behind the nav bar when scrolling up*/
	#topbar {
		z-index: 999;
	}
/* End: navbar */	

/* Start: sidenav */
	.sidenav {
		height: 100%;
		width: 170px;
		position: fixed;
		top: 51px;
		background-color: #e6e6e6;
		padding-top: 20px;
		text-align: center;
		list-style: none;
		padding-left: 2px;
		border-right: 5px solid #004d4d;
		overflow-y: auto; /* add vertical scroll bar when resizing */
	}

	.sidenav li a {
		display: block;
		float: none;
		padding: 7px;
		color: Black;
		text-decoration: none;
		font-size: 17px;
	}

	.sidenav li p {
		margin-top: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-size: 17px;
	}

	.sidenav a:hover, .navbar a:hover {
		background-color: SteelBlue;
	}
	
	.dropbtn {
		background-color: #e6e6e6;
		color: black;
		padding-top: 5px;
		border: none;
		min-width: 163px;
	}

	.dropbtn:focus{
		outline:none;
	}
	
	.dropdown {
	  position: relative;
	  display: inline-block;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #B0C4DE;
	  min-width: 163px;
	  z-index: 1;
	}

	.dropdown-content a {
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {
		background-color: grey;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown:hover .dropbtn {
		background-color: SteelBlue;
	}	
/* End: sidenav */

/* format body - all pages */
	body {
		font-family: Arial, Helvetica, sans-serif;
		background: WhiteSmoke;
	}

/* Start: index page */
	#home-portfolio, #about-me{
		/* Centering content of the index, about pages */
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 70%;
		height: 70%;
	}
	
	#home-rightCol {
		text-align: center;
	}

	#home-rightCol > h6 {
		color: Teal;
		font-weight: bold;
	}

	#home-leftCol {
		text-align: center;
	}
	
	#home-leftCol picture img {
		/*avoid overlapping bootstrap columns when resizing */
		width: 100%;
		height: auto;
	}
/* End: index page */

/* Start: about page */
	#about-me {
		background-color: #FAFAD2;
	}
	.col-sm-12 {
		border: 25px solid #004d4d;
		padding-top: 25px;
	}
	
	#signature {
		text-align: right;
		color: #004d4d;
		font-weight: bold;
	}
/* End: about page */

/* Start: contact page */

	#contact {
		/* Centering content of the contact page */
		width: 60%;
		height: 70%;
		margin-top: 100px;
	}

	#contact {
		border: 25px solid #004d4d;
	}
	
	#contact-leftCol {
		padding: 0;
	}		
	
	#contact-rightCol {
		background-color: #FAFAD2;
	}
	
	#contact-rightCol a:hover{
		text-decoration: none;
	}		

	#contact-rightCol i {
		color: #004d4d;
		font-size: 40px;
		padding-left: 20px;
	}		

	#contact-rightCol span{
		font-size: 25px;
		padding-left: 10px;
	}
	
	#contact-name-card{
		text-align: center;
		font-size: 45px;
		color: #004d4d;
	}
		
/* End: contact page */	

/* Start: projects page */
	.projects-main {
		margin-left: 170px; /* Same as the width of the sidenav */
		margin-top: 50px;
		padding: 20px;
		background: #e6e6e6;
	}
	
	.all-articles{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background-color: white;
		border: 0.5px solid lightgrey;
	}
	
	hr {
		margin-top: 0;
	}
	
		section h3 {
		font-weight: bold;
		text-align: left;
	}

	article > h5, article > h6 {
		color: #006666;
		font-weight: bold;
		text-align: left;
	}
	.project-sub-heading {
		text-decoration: underline;
	}
	
	/* resize carousel */
	#myslider{
		height: 60%;
		width: 60%;
		overflow: hidden;
	}

	/*center carousel */
	.carousel {
		margin: auto;
	}
	/* change color of carousel control icon */
	.carousel-control-prev, .carousel-control-next {
		filter: invert(100%);
	}

	/* position carousel indicators */
	.carousel-inner {
		margin-bottom:20px;
	}
	
	.btn-info {
		background-color: Teal;
	}

/* End: projects page */
	

@media screen and (max-width: 500px) {
	.navbar a {
	float: none;
	display: block;
	text-align: center;
	}
	
	.sidenav {
		display: none;
	}
	.projects-main {
		margin-left: 0;
		padding: 20px;
	}	
	
	#about-me {
		width: 100%;
	}
	
	#contact {
		width: 100%;
		height: 100%;
		margin-top: 0;
	}
}
